@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Holaaa a la Bandaaa!</h1>
    <p>Estamos desde docker en la nube papaaaa!:D  Probando CI/CD, Prueba infinitoo 2 jaja<a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>Vamoos que saleee!!! Ahora sisiiii</p>
</div>
