@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Holaaa a la Bandaaa!</h1>
    <p>Estamos desde docker en la nube papaaaa!:D  Probando CI/CD<a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
