@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Holaaa a la Bandaaa!</h1>
    <p>Estamos desde docker en la nube papaaaa!:D  Probando CI/CD</p>
    <p>Ahora siiiii, en DevOps</p>
    <p> DAleeeee perrritoooo</p>
</div>
